# Quick Guide:
# 1) Copy this file and rename it "mariadb-login.env"
# 2) Change the password to your db password
# 3) Ensure the local "mariadb_login.env" is ignored by git
#
ENV_MARIADB_DATABASE=showcase
ENV_MARIADB_USER=root
ENV_MARIADB_PASSWORD=<YourSuperSafePW>
ENV_MARIADB_ROOT_PASSWORD=<YourSuperSafePW>