# Quick Guide:
# 1) Copy this file and rename it ".env" (ensure its in the same dir as compose.yaml)
# 2) Change the password to your db password
# 3) Ensure the local ".env" is ignored by git
#
ENV_MARIADB_DATABASE=showcase_master
ENV_MARIADB_PASSWORD=<YourSuperSafePW>